section.b-agreement-page
	.container._container
		nav.b-bread-crumbs
			ul._list
				li._item
					a._link(href="/") Главная
					+icon('bread-crumbs-arrow')
				li._item
					a._link(href="#") Договор оферта
	.container
		._wrap
			h1._main-title.section-title Договор оферта
			._list-wrap
				._item
					h2._title.xl-title 1. Общие положения
					._desc
						p 
							b Оферта адресована 
							| физическим лицам на территории всех стран мира и содержит условия договора, который заключается между пользователем и администрацией на неопределенный срок. К положениям оферты применяется законодательство Российской Федерации.
						p
							b Пользователь соглашается с офертой (акцептует)
							| путем нажатия кнопки “Проверить штрафы”
					.b-unlist
						._title Предметом договора является оказание услуг со стороны администрации по:
						ul._container
							li._item Проверке наличия неоплаченных штрафов за нарушение ПДД (далее - Штрафы)
							li._item Уведомлению о новых Штрафах посредством браузерных и мобильных push-уведомлений; на e-mail, а также в виде SMS на мобильный телефон, указанные пользователем
							li._item Предоставлению возможности оплатить Штрафы, а также подключить автоматическое списание денежных средств в счет оплаты Штрафов и вознаграждения администрации (услуга «Автоматическое погашение»)
				._item
					h2._title.-biggest-margin.xl-title 2. Порядок оказания услуг.
					ul.b-number-list
						li._item 1. Пользователь получает услугу по проверке наличия неоплаченных Штрафов, когда вводит номер свидетельства о регистрации ТС и/или номер водительского удостоверения и нажимает кнопку “Проверить штрафы”.
						li._item 2. Пользователь активирует бесплатную услугу уведомления о новых Штрафах по e-mail, когда заполняет адрес электронной почты.
						li._item 3. Пользователь активирует услугу уведомления по SMS в личном кабинете. Стоимость услуги, срок оказания указываются на странице оплаты.
						li._item 4. Пользователь подключает услугу «Автоматическое погашение» при оплате или в личном кабинете. При невозможности автоматического списания денежных средств осуществляются повторные попытки.
				._item
					h2._title.-biggest-margin.xl-title 3. Рассылка информации
					._desc.-padding
						p Пользователь подтверждает, что введенные им контактные данные (номер телефона, адрес электронной почты) являются правильными и соглашается на использование контактных данных администрацией и ее партнерами для поддержания связи с ним, осуществления отправки рекламных сообщений, а также для информирования о новых услугах, проводимых акциях, мероприятиях, скидках, их результатах, для осуществления заочных опросов с целью изучения мнения об услугах, на получение любой информации, касающейся исполнения сторонами прав и обязанностей. Для отказа от рассылки пользователь направляет письменное обращение на e-mail: info@gibdd.com , в ответ получает письмо с подтверждением отписки. Для завершения операции пользователю следует пройти по ссылке, указанной в письме.
				._item
					h2._title.xl-title 4. Оплата Штрафов
					._desc.-padding
						p Для оплаты Штрафов пользователь должен нажать кнопку «Оплатить все» либо выбрать отдельные Штрафы и нажать кнопку «Оплатить». Затем пользователь перенаправляется на страницу оплаты, где заполняет форму платежной системы, которая осуществляет обработку и авторизацию платежей. По итогам проведения операции пользователю на e-mail направляется информация об оплате.
				._item
					h2._title.xl-title 5. Вознаграждение
					._desc
						p Устанавливается платежной системой в виде комиссии от суммы Штрафа (без НДС) и указывается на странице оплаты. <br>Для услуги «Автоматическое погашение» предусмотрен следующий размер комиссии:
					.b-table._table
						._head
							._tr
								._th Сумма Штрафа (руб.)
								._th Размер комиссии, взимаемой с пользователя (руб.)
						._body
							._tr
								._td 0 - 199,99
								._td 30,00
							._tr
								._td 200,00 – 299,99
								._td 40,00
							._tr
								._td 300,00 – 499,99
								._td 55,00
							._tr
								._td 500,00 – 699,99
								._td 80,00
							._tr
								._td 700,00 – 799,99
								._td 80,00
							._tr
								._td 800,00 – 999,99
								._td 100,00
							._tr
								._td 1000,00 – 1499,99
								._td 150,00
							._tr
								._td 1500,00 – 1999,99
								._td 180,00
							._tr
								._td 2000,00 – 2499,99
								._td 250,00
							._tr
								._td 2500,00 – 9999,99
								._td 340,00
							._tr
								._td 10000,00 – 14999,99
								._td 440,00
							._tr
								._td 15000,00 – 29999,99
								._td 540,00
							._tr
								._td 30000,00 – 99999,99
								._td 840,00
					._desc
						p Взимание с пользователя дополнительных комиссий операторами сотовой связи, операторами по переводу электронных денежных средств не регулируется офертой.
						p 
							b Если пользователь оплачивает Штрафы либо подключает услугу “Автоматическое погашение”
							| в адрес третьего лица, пользователь гарантирует, что обладает полномочиями на осуществление соответствующих действий и несет ответственность за них.
						p 
							b Администрация не является лицом, уполномоченным на составление базы данных о неоплаченных Штрафах,
							| и не несет ответственность за достоверность и актуальность полученных в автоматическом режиме сведений о Штрафах. Если пользователь считает, что информация о Штрафах не является достоверной, пользователю следует обратиться в территориальное Управление Госавтоинспекции при МВД РФ для уточнения информации.
						p 
							b При возникновении претензий к администрации
							| пользователь направляет претензию, срок рассмотрения которой составляет 30 дней. При неурегулировании спора, спор передается на рассмотрение в суд по месту нахождения администрации 
						p 
							b Администрация вправе в одностороннем порядке изменять размер вознаграждения без предварительного уведомления пользователя, а также вносить иные изменения в оферту. 
							| Изменения вступают в силу через 5 дней с момента публикации.
				._item
					h2._title.-biggest-margin.xl-title 6. Администрация:
					ul.b-info-list._info-list
						li._item 
						li._item ИП Меринов Евгений Алексеевич
						li._item ИНН:366231857760
						li._item Расчетный счёт: 40802810308500012542
					ul.b-info-list
						li._item Название банка:
						li._item ТОЧКА ПАО БАНКА "ФК ОТКРЫТИЕ"
						li._item БИК: 044525999
						li._item Город: Москва
						li._item Корр. счёт: 30101810845250000999
