section.b-confirmation
	a.b-header-back(href="check.html")
		span._icon
			+icon('triangle')
		span._text Вернутся к списку штрафов
	._container.container
		nav.b-bread-crumbs.-responsive
			ul._list
				li._item
					a._link(href="/") Главная
					+icon('bread-crumbs-arrow')
				li._item
					a._link(href="check.html")  Проверить штрафы
					+icon('bread-crumbs-arrow')
				li._item
					a._link(href="#")  Подтверждение оплаты штрафов
		._row
			._col.-small
				.b-merits._merits
					ul._list
						li._item
							._header
								._icon
									+icon('cart')
								._title Платите картами любых банков — это безопасно
							._body
								p Для передачи информации используется защищенный сертификат SSL. Для подтверждения платежа — технология 3-D Secure.
						li._item
							._header
								._icon
									+icon('receipt')
								._title Отправим квитанции сразу после оплаты
							._body
								p Сведения о штрафах предоставлены из базы данных Федерального казначейства РФ — системы ГИС ГМП.
						li._item
							._header
								._icon
									+icon('information')
								._title Моментально <br/> уведомим ГИБДД и казначейство об оплате
							._body
								p После оплаты вы сразу получаете официальные квитанции которые подтверждают оплату, средний срок перевода 2 рабочих дня.
			._col.-big
				._main
					._header
						h1._title Подтверждение оплаты штрафов
					._body
						.b-table-fine._table-fine
							._header
								._row
									._col
										span Дата
									._col.-row
										span Неоплаченный штраф
										span Сумма
									._col
							._body
								._row
									._col.-md-center
										._date 23.11.2018
										._discount.table-fine__discount-md Скидка до <span class="red">12.04.2020</span>
									._col
										._wrap
											._name-box
												._name Штраф от 2.04.2020 (КоАП ст.12.4 п 2)
												._code
													span._code-name УИН
													span 32277047190285881006
											._price-box
												._price 1250 руб.
												._old-price 2500 руб.
												._discount Скидка до <span class="red">12.04.2020</span>
												
										.showHide
											.showHide__wrap
												a.b-link.-dashed.-js._link(href="#")
													span._text Реквизиты получателя
													span._icon
														+icon('triangle')
												a._delete(href="#") Удалить штраф
											.hide-block
												.b-information
													._row
														._name Получатель платежа:
														._value Администратор Московского парковочного (ГКУ АМПП)
													._row
														._name Регион:
														._value Москва
													._row
														._name Подразделение
														._value Штраф за нарушение правил пользования городскими платными парковками в г. Москве.

													._row
														._name ОКТМО:
														._value 45334000
													._row
														._name ИНН:
														._value 7714887870
													._row
														._name КПП:
														._value 771401001
													._row
														._name Расчетный счет:
														._value 40101810045250010041
													._row
														._name Банк:
														._value ГУ Банка России по ЦФО
													._row
														._name БИК:
														._value 044525000
									._col.-right
										a._icon(href="#")
											+icon('trash')
								._row
									._col.-md-center
										._date 23.11.2018
										._discount.table-fine__discount-md Скидка до <span class="red">12.04.2020</span>
									._col
										._wrap
											._name-box
												._name Штраф от 2.04.2020 (КоАП ст.12.4 п 2)
												._code
													span._code-name УИН
													span 32277047190285881006
											._price-box
												._price 1250 руб.
												._old-price 2500 руб.
												._discount Скидка до <span class="red">12.04.2020</span>
												
										.showHide
											.showHide__wrap
												a.b-link.-dashed.-js._link(href="#")
													span._text Реквизиты получателя
													span._icon
														+icon('triangle')
												a._delete(href="#") Удалить штраф
											.hide-block
												.b-information
													._row
														._name Получатель платежа:
														._value Администратор Московского парковочного (ГКУ АМПП)
													._row
														._name Регион:
														._value Москва
													._row
														._name Подразделение
														._value Штраф за нарушение правил пользования городскими платными парковками в г. Москве.

													._row
														._name ОКТМО:
														._value 45334000
													._row
														._name ИНН:
														._value 7714887870
													._row
														._name КПП:
														._value 771401001
													._row
														._name Расчетный счет:
														._value 40101810045250010041
													._row
														._name Банк:
														._value ГУ Банка России по ЦФО
													._row
														._name БИК:
														._value 044525000
									._col.-right
										a._icon(href="#")
											+icon('trash')
								._row
									._col.-md-center
										._date 23.11.2018
										._discount.table-fine__discount-md Скидка до <span class="red">12.04.2020</span>
									._col
										._wrap
											._name-box
												._name Штраф от 2.04.2020 (КоАП ст.12.4 п 2)
												._code
													span._code-name УИН
													span 32277047190285881006
											._price-box
												._price 1250 руб.
												._old-price 2500 руб.
												._discount Скидка до <span class="red">12.04.2020</span>
												
										.showHide
											.showHide__wrap
												a.b-link.-dashed.-js._link(href="#")
													span._text Реквизиты получателя
													span._icon
														+icon('triangle')
												a._delete(href="#") Удалить штраф
											.hide-block
												.b-information
													._row
														._name Получатель платежа:
														._value Администратор Московского парковочного (ГКУ АМПП)
													._row
														._name Регион:
														._value Москва
													._row
														._name Подразделение
														._value Штраф за нарушение правил пользования городскими платными парковками в г. Москве.

													._row
														._name ОКТМО:
														._value 45334000
													._row
														._name ИНН:
														._value 7714887870
													._row
														._name КПП:
														._value 771401001
													._row
														._name Расчетный счет:
														._value 40101810045250010041
													._row
														._name Банк:
														._value ГУ Банка России по ЦФО
													._row
														._name БИК:
														._value 044525000
									._col.-right
										a._icon(href="#")
											+icon('trash')
						form.b-payment-form._payment-form
							._header
								h3._title Подтверждение оплаты
								._desc Для погашения задолженности в ГИБДД и казначействе
							._body
								.b-input
									._title Фамилия Имя Отчество: <span class="red">*</span>
									._wrap
										input(type="text" name="fullName" placeholder="Иванов Иван Иванович" required )
										span._icon
								._row
									._col
										.b-feedback-input._feedback-input
											._top-line
												nav._nav
													ul._list
														li._item.tab--active
															a._link(href="#email" data-toggle="tab") E-mail
														li._item
															a._link(href="#phone" data-toggle="tab") Телефон
											.b-input.js-tab.tab--active.email(style="display: block")
												._wrap
													input(type="text" name="email" placeholder="ivanov@yandex.ru")
													span._icon
											.b-input.js-tab.phone
												._wrap
													input(type="tel" name="phone" placeholder="+7 (___) ___-__-__")
													span._icon
									._col
										.b-select._select
											._title.md-title Способ оплаты
											select(data-placeholder='Банковская карта' name='select' data-search-not-found=' ' data-search-placeholder='' data-visible-options='0' required='')
												option(value="")
												option(value="" selected) Банковская карта
												option(value="" ) Не Банковская карта
												option(value="") Через Банковская карта
								._record-wrap
									.b-record
										._name Колличество штрафов:
										._dots
										._value 6 шт. на сумму 5500 руб.
									.b-record
										._name Скидка составляет:
										._dots
										._value <span class="red">2500 руб.</span>
								.b-result-form._result-form
									._text Итого:
									._value 8 780 руб.
								.b-agreement._agreement
									label.b-checkbox.-start._checkbox.payment-form__checkbox
										input._input(type="checkbox" name="agreement" checked)
										span._icon.payment-form__icon
											+icon('check')
										span._text Я согласен на обработку <br/> <a href="#">персональных данных</a>
									button.b-btn._btn.payment-form__btn(type="submit")
										span._text.payment-form__btn-text Оплатить 8 780 руб.
										span._icon
											+icon('arrow-right')
							._footer
								.b-security._security
									span._icon
										+icon('lock')
									span._text https / 3d secure
								ul.b-pay-cards
									li._item.-mastercard
										img._img(src="img/logo/mastercard.svg" alt="")
									li._item.-visa
										img._img(src="img/logo/visa.svg" alt="")
									li._item.-mir
										img._img(src="img/logo/mir.svg" alt="")
								label.b-checkbox.-start._checkbox-footer
									input._input(type="checkbox" name="agreement" checked)
									span._icon.payment-form__icon
										+icon('check')
									span._text Сохранить карту для быстрой оплаты
						a.b-back-link._back-link(href="#")
							span._icon
								+icon('arrow-right')
							span.link._link Вернуться к неоплаченным штрафам
		a.b-btn.-back._btn-back(href="check.html")
			span._icon
				+icon('back-arrow')
			span._text Вернуться к неоплаченным штрафам

