section.b-articles-single
	.container._container
		nav.b-bread-crumbs
			ul._list
				li._item
					a._link(href="/") Главная
					+icon('bread-crumbs-arrow')
				li._item
					a._link(href="articles.html") Новости
					+icon('bread-crumbs-arrow')
				li._item
					a._link(href="#") ГИБДД запретили снимать номера. Но от задержания машины это не спасет
		._main
			._top-line
				.b-news-info.-unbordered._category-wrap
					a._category.-big-btn.-gray.-blue-text(href="#") Инструкции
					._wrap
						._date 28 марта 2020
						._view
							._view-icon
								+icon('view')
							._view-count 4935
				ul.b-socials.-light._socials
					li._item
						a._link(href="#")
							+icon('fb')
					li._item
						a._link(href="#")
							+icon('vk')
					li._item
						a._link(href="#")
							+icon('ok')
					li._item
						a._link(href="#")
							+icon('twi')
				.b-editor._editor
					._text Редактор:
					a._link.link(href="#") Александр
			._row
				._col.-left
					h1.b-section-title.-bolder._title ГИБДД запретили снимать номера. <br>Но от задержания машины это не спасет
					._sub-title.lg-title Президент подписал указ о безопасности дорожного движения. Есть важное для водителей: теперь с их машин не снимут номера. Это право сотрудников ГИБДД исключили. Но это почти ничего не меняет, и вот почему.
					._img-wrap
						img._img(src="img/articles-single/item1.jpg", alt="")
					._content-wrap
						h3._small-title.xl-title Содержание:
						nav.b-desc-nav._desc-nav
							ul._list
								li._item
									a._link(href="#item1") За что могут эвакуировать машину
								li._item
									a._link(href="#item2") Вашу машину уже погрузили: что делать
								li._item
									a._link(href="#item3") Куда обращаться, если машину увезли
								li._item
									a._link(href="#item4") Сколько придется заплатить
								li._item
									a._link(href="#item5") Какие документы нужны, чтобы вернуть машину
								li._item
									a._link(href="#item6") Что еще нужно сделать на штрафстоянке
						._content-item-wrap
							._content-item(data-id="item1")
								h3._small-title.xl-title Люблю ваши желтые рамочки, в которых вы рассказываете главное
								._desc.desc
									p Гаишники не могли скручивать ваши номера аж с 2014 года. Но была юридическая дырка, из-за которой они могли напугать водителя скручиванием номеров: по закону это делать нельзя, а по положению о ГИБДД — можно. Если водитель об этом не знал, гаишник мог размахивать перед ним этим положением и намекать на взятку. Ведь был действующий документ, в котором написано: сотрудник ГИБДД имеет право снимать номера с машины.
									p Теперь дырку закрыли: положение скорректировали, больше в нем нет скручивания номеров. Кто будет вам говорить о скручивании номеров — член сами знаете какой партии. Сообщите им, что знакомы с указом президента № 515 и подпунктом «ж» пункта 12 положения о ГИБДД в новой редакции.
							._content-item(data-id="item2")
								h3._small-title.xl-title Что конкретно изменилось?
								._desc.desc
									p Изменилось положение о ГИБДД. В этом документе есть пункт 12: там перечислено, что могут делать сотрудники ГИБДД с водителями и их машинами. В этом пункте есть подпункт «ж» о запретах. Раньше там было написано, что ГИБДД может снимать регистрационные номера, если что-то не так. Например, на машине перебиты номера, не горят фары или слишком сильно затонированы стекла. Или водитель нарушил ПДД, а иногда это тоже повод задержать автомобиль.
									p По этому положению, то сотрудник ГИБДД имел право снять с машины номера. А без номеров ездить не положено. Вроде бы надо ехать, чтобы исправить недостатки, а ехать нельзя: за такое грозит лишение прав. Теперь формально сотрудники ГИБДД не смогут так сделать, и сослаться им будет не на что.
							._content-item(data-id="item3")
								h3._small-title.xl-title Почему это формальное изменение?
								._desc.desc
									p Мера наказания в виде снятия номера упоминалась не только в этом положении. Еще есть статья 27.13 КоАП. Когда-то там тоже было такое наказание: из-за некоторых нарушений с машины снимали номера и не давали на ней ездить. Но часть 2 этой статьи полностью отменили в 2014 году. С тех пор в административном кодексе не было такой меры воздействия на нарушителей. А в положении она по-прежнему была. Получалась нестыковка. Вроде бы номера снимать нельзя, но хитрый сотрудник ГИБДД всегда мог сослаться на положение.
									p Эту нестыковку нужно было исправить, и вот спустя четыре года все получилось. Если вас теперь остановят на дороге и пригрозят снятыми номерами, не верьте. Это точно незаконно. Такого права у ГИБДД совершенно определенно нет, указ уже вступил в силу. Если что — ссылайтесь на указ президента № 515 и подпункт «ж» пункта 12 положения. С юридически грамотными водителями лучше не злоупотреблять полномочиями.
							._content-item(data-id="item4")
								h3._small-title.xl-title Теперь ГИБДД ничего не сможет сделать с нарушителями сразу?
								._desc.desc
									p Конечно, сможет. Если сотрудник ГИБДД прямо на дороге обнаружит нарушение, с которым нельзя ехать на машине или опасно ее эксплуатировать, он сможет задержать автомобиль. Это право никто не отменял, а эвакуаторы все так же работают.
									p Снять номера и задержать машину — не одно и то же. На ней просто не дадут дальше ехать, хотя к номерам теперь точно не притронутся. Задержанию транспортных средств посвящена целая статья в КоАП. Она действует.
									p В положении для ГИБДД тоже осталось право задерживать автомобили — о нем все в том же пункте «ж», исключили только формулировку про номера. А поводов задержать машину у ГИБДД достаточно. О некоторых водители даже не подозревают. Если так случится, обойтись это может очень дорого. Кроме штрафа за нарушение там полно расходов за само задержание, транспортировку и хранение.
									p Не надейтесь, что отмена скручивания номеров облегчит жизнь водителям. На санкции за нарушения правил и требований это почти не повлияет. Если только снизит возможности для коррупции на дорогах. Но все равно можно выехать на машине без регистрации или с неисправным рулем, не там ее припарковать и в итоге остаться без транспорта и денег. Но если кто-то все же снимет номера, всегда можно сделать новые: сейчас это законно.
					._bottom-line
						.b-tags._tags
							._title Теги:
							a._link(href="#") Правила ПДД
						._socials-wrap
							._socials-title Поделится
							ul.b-socials.-light._socials
								li._item
									a._link(href="#")
										+icon('fb')
								li._item
									a._link(href="#")
										+icon('vk')
								li._item
									a._link(href="#")
										+icon('ok')
								li._item
									a._link(href="#")
										+icon('twi')
				._col.-right
					form.b-small-gray-card.-vertical._small-gray-card
						h4._title.xl-title Проверка автомобиля
						._line.-top
							.b-input.-small
								._title Введите гос номер
								._wrap
									input(type="text" name="licensePlateStart" placeholder="A 007 AA")
									span._icon
						._line.-bottom
							label.b-checkbox.-start._checkbox
								input._input(type="checkbox" name="agreement" checked)
								span._icon
									+icon('check')
								span._text Я согласен на обработку 
									a(href="#") персональных данных
							button._btn.btn Проверить
					.b-popular-category
						h4._title.lg-title Популярное из других разделов
						ul._list
							li._item
								._img-wrap
									img._img(src="img/articles-single/popular-item1.jpg", alt="")
								._content-wrap
									._desc.md-desc
										p Купил машину, а номера оказались в розыске
									a._link(href="#") Подробнее
							li._item
								._img-wrap
									img._img(src="img/articles-single/popular-item2.jpg", alt="")
								._content-wrap
									._desc.md-desc
										p Машина продана, а штрафы приходят
									a._link(href="#") Подробнее
							li._item
								._img-wrap
									img._img(src="img/articles-single/popular-item3.jpg", alt="")
								._content-wrap
									._desc.md-desc
										p Право собственности на автомобиль не зависит от регистрации в ГИБДД
									a._link(href="#") Подробнее
	.container
		._bottom-content
			h2._title.-other-title Похожие новости
			.news-row._news-row
				- var newsInfoModify = 'news-info--unbordered';
				- var newsCardModify = 'news-card--small';
				.news-col
					+newsItem('item10', 'Законодательство', 'ГИБДД получили приборы для измерения ровности дорожного покрытия и обочин', 'Сотрудники ГИБДД получили специальные...', newsCardModify,  'news-info__category--btn news-info__category--red', newsInfoModify)
				.news-col
					+newsItem('item11', 'Инструкции', 'Как проверить штрафы ГИБДД по ИНН организации', 'Просроченные штрафы - это не только дополнительные расходы средств...', newsCardModify,  'news-info__category--btn news-info__category--gray', newsInfoModify)
				.news-col
					+newsItem('item12', 'Нормат. документы', 'C 1 июня в России вступают в силу новые законы и нормативные акты', 'Инспектор ДПС  как правило оформляет следующие документы на месте ДТП.', newsCardModify,  'news-info__category--btn news-info__category--green', newsInfoModify)
				.news-col
					+newsItem('item12', 'Нормат. документы', 'C 1 июня в России вступают в силу новые законы и нормативные акты', 'Инспектор ДПС  как правило оформляет следующие документы на месте ДТП.', newsCardModify + ' news-card--responsive',  'news-info__category--btn news-info__category--green', newsInfoModify)
	._comments-content
		.container
			h2._title Комментарии
			._image-wrap
				img._image(src="img/articles-single/comments.jpg", alt="")