section.b-request-result-page.-success
	._container.container
		nav.b-bread-crumbs
			ul._list
				li._item
					a._link(href="/") Главная
					+icon('bread-crumbs-arrow')
				li._item
					a._link(href="#") Проверка автомобиль
		._wrap
			._icon-wrap
				+icon('oval-check')
			h2._title Заявка успешно оплачена!
			._sub-title
				p Ваши штрафы оплачены. Напоминаем, на обработку платежа в базе ГИС ГМП может уйти от 3 до 7 рабочих дней. Чек оплаты мы направили на ваш адрес электронной почты. Теперь мы будем оповещать вас о новых штрафах на адрес эл. почты который вы указали.
				p Спасибо за доверие!