mixin penaltyItem(title1, title2, title3)
	.penalty-item-content__row
		.penalty-item-content__col
			.penalty-item-content__title !{title1}
		.penalty-item-content__col
			.penalty-item-content__title !{title2}
		.penalty-item-content__col
			.penalty-item-content__title !{title3}
section.b-penalty-table
	.container
		nav.b-bread-crumbs.-responsive
			ul._list
				li._item
					a._link(href="/") Главная
					+icon('bread-crumbs-arrow')
				li._item
					a._link(href="#") Таблица штрафов
	.container
		._row
			._col.-left
				.b-penalty-table-main
					._top-line
						._logo-img-wrap
							img._logo-img(src="img/penalty-table/logo/coat-arms.png", alt="")
						._logo-desc Административные правонарушения в области дорожного движения и ответсвенность за нарушения.
							a._logo-link.link(href="#") КоАП РФ Глава 12.
					._center-line
						h1._title Таблица штрафов для водителей легковых автомобилей 2020 года
						._desc.desc Для поиска штрафов воспользуйтесь удобной навигацией ниже, или используйте навигацию по самым популярным штрафам.
					._bottom-line
						._small-title Дата актуализации: 22.05.2020
						a._bottom-link(href="#") Ссылка на полный текст документа
				.b-popular-penalty-icons._icons
					ul._list
						li._item.-active
							a._link.js-smooth-scroll(href="#bottle")
								span.b-penalty-icon
									+icon('bottle')
								span._text Алкоголь
						li._item
							a._link.js-smooth-scroll(href="#crossroad-line")
								span.b-penalty-icon
									+icon('crossroad-line')
								span._text Перекрестки
						li._item
							a._link.js-smooth-scroll(href="#fast-speed")
								span.b-penalty-icon
									+icon('fast-speed')
								span._text Скорость
						li._item
							a._link.js-smooth-scroll(href="#accident")
								span.b-penalty-icon
									+icon('accident')
								span._text Аварии
						li._item
							a._link.js-smooth-scroll(href="#signal")
								span.b-penalty-icon
									+icon('signal')
								span._text Спецсигналы
						li._item
							a._link.js-smooth-scroll(href="#parking")
								span.b-penalty-icon
									+icon('parking')
								span._text Остановка или парковка
						li._item
							a._link.js-smooth-scroll(href="#traffic-police")
								span.b-penalty-icon
									+icon('traffic-police')
								span._text Невыполнение требования ГИБДД
						li._item
							a._link.js-smooth-scroll(href="#advrtsing")
								span.b-penalty-icon
									+icon('advrtsing')
								span._text Реклама на гос. знаках
						li._item
							a._link.js-smooth-scroll(href="#unreadable-signs")
								span.b-penalty-icon
									+icon('unreadable-signs')
								span._text Нечитаемые <br>гос. знаки
				._content

					.b-penalty-item(data-id="popular-penalties")
						.b-penalty-item-header
							.b-penalty-icon.-small
								+icon('star')
							._title Самые популярные штрафы за нарушение ПДД
						.b-penalty-item-content._content
							._header.-bordered
								._header-row
									._header-col
										._header-title Ст. КоАП
									._header-col
										._header-title Нарушение
									._header-col
										._header-title Штраф
							._body
								+penaltyItem('ст. 12.28', 'Нарушаете ПДД в жилой зоне. Например, ездите больше 20 км/ч в или при выезде не пропустили жителя. ', '1500 руб, в Москве <br>и Питере — 3000 руб')
								+penaltyItem('ст. 12.36', 'Разговариваете за рулем по телефону, держа его рукой.', '1500 руб')
								+penaltyItem('ст. 12.15', 'Ездите по велосипедным и пешеходным дорожкам, по тротуарам', '2000 руб')
								+penaltyItem('ст. 12.1', 'Поехали на авто без регистрации, техосмотра (например, купили машину)', '500-800 руб')
								+penaltyItem('ст. 12.1', 'Если один раз оштрафовали, а вы снова поехали без регистрации и техосмотра ', '5000 руб или лишение прав на 1-3 мес')
								+penaltyItem('ст.12.2', 'Ездите на авто грязными, нечитаемыми* знаками ', 'предупреждение или <br>500 руб')
								+penaltyItem('ст. 12.6', 'Не пристегнулись или ваш пассажир не пристегнут', '1000 руб')
								+penaltyItem('ст. 12.9', 'Превысили скорость на величину 20-40 км/ч', '500 руб')
								+penaltyItem('ст. 12.9', 'Превысили скорость на величину 40-60 км/ч', '1000-1500 руб')
								+penaltyItem('ст. 12.9', 'Если снова превышаете скорость на 20-60 км/ч, и уже получали за это штраф', '2000-2500 руб')
								+penaltyItem('ст. 12.37', 'Ездите, а у вас закончилась страховка', '500 руб')
								+penaltyItem('ст. 12.37', 'Ездите без ОСАГО', '800 руб')
								+penaltyItem('ст. 12.3', 'Работаете как такси без разрешения', '5000 руб')
								+penaltyItem('ст. 12.15', 'Выехали на встречку при объезде препятствия', '1000-1500 руб')
								+penaltyItem('ст. 12.15', 'Выехали на встречку (не с целью объезда)', '5000 руб или лишение прав на 4-6 месяцев')
								+penaltyItem('ст. 12.15', 'Выехали на встречку при объезде препятствия', '1000-1500 руб')
								+penaltyItem('ст. 12.3', 'Забыли документы (свидетельство о регистрации, права или страховку**)', 'предупреждение или <br>500 руб')
								+penaltyItem('ст. 12.3', 'Дали свое авто человеку без документов — прав, доверенности на вашу машину', '3000 руб')
								+penaltyItem('ст. 12.5', 'Ездите на авто с заведомо <br>неисправными тормозами, рулем', '500 руб')
								+penaltyItem('ст. 12.5', 'Ездите на авто с непрозрачными стеклами (темная или цветная пленка)', '500 руб')
								+penaltyItem('ст. 12.10', 'Нарушили правила проезда через ж/д переезды (кроме езды на красный и закрытый шлагбаум)', '1000 руб')
								+penaltyItem('ст. 12.11', 'Едете по магистрали со скоростью менее 40 км/час или остановились на магистрали', '1000 руб')
								+penaltyItem('ст. 12.10', 'Учебная езда по магистрали', '1000 руб')
								+penaltyItem('ст. 12.11', 'Развернулись и въехали в техразрывы полосы или дали задний ход на магистрали', '2500 руб')
								+penaltyItem('ст. 12.12', 'Проехали на желтый и красный, на запрещающий жест (кроме ситуаций на ж/д переездах)', '1000 руб')
								+penaltyItem('ст. 12.12', 'Опять проехали на желтый или красный или на запрещающий жест, если вас за это уже штрафовали', '5000 руб или лишение прав на 4-6 мес')
								+penaltyItem('ст. 12.13', 'Выехали на перекресток или пересекли дорогу и тем самым создали пробку', '1000 руб')
								+penaltyItem('ст. 12.13', 'На перекрестке не уступили машине с преимущественным правом проезда перекрестка', '1000 руб')
								+penaltyItem('ст. 12.14', 'Не подали сигнал перед началом движения, поворотом, остановкой, разворотом', '500 руб')
								+penaltyItem('ст. 12.14', 'Перед тем как повернуться или развернуться, не заняли крайнее положение на проезжей части в нужном направлении', 'предупреждение или штраф 500 руб')
								+penaltyItem('ст. 12.14', 'Сделали разворот или дали назад в месте, где этот маневр запрещен', '500 руб')
								+penaltyItem('ст. 12.14', 'Не уступили авто, имеющему преимущественное право движения (кроме маневров выше)', 'предупреждение или штраф 500 руб')
								+penaltyItem('ст. 12.15', 'Поехали по обочине или пересекли колонну авто/людей, заняли место в колонне', '1500 руб')
								+penaltyItem('ст. 12.15', 'Едете со скоростью до 30 км/ч вне поселка или города и не пропустили другие машины для обгона', '1000-1500 руб')
								+penaltyItem('ст. 12.16', 'Не соблюдаете разметку и дорожные знаки (кроме выезда на встречку при одностороннем движении)', 'предупреждение или штраф 500 руб')
								+penaltyItem('ст. 12.16', 'Повернули налево и развернулись там, где это запрещает знак или разметка', '1000-1500 руб')
								+penaltyItem('ст. 12.17', 'Не пропустили автобус, троллейбус, трамвай или авто с синей мигалкой и сигналкой', 'предупреждение или <br>500 руб, для Москвы и Питера 3000 руб')
								+penaltyItem('ст. 12.17', 'Едете или остановились на полосе для автобусов, троллейбусов, трамваев', '1500 руб, для Москвы и Питера — 3000 руб')
								+penaltyItem('ст. 12.17', 'Не пропустили авто со спецнадписями и включенной синей мигалкой и сигналкой: скорую, полицию, пожарную.', '3000-5000 руб или лишение прав на 3-12 мес')
								+penaltyItem('ст. 12.18', 'Не пропустили пешехода, велосипедиста, там где это требуют ПДД', '1000-2500 руб')
								+penaltyItem('ст. 12.20', 'Забыли выключить или включить аварийку', 'предупреждение или <br>500 руб')
								+penaltyItem('ст. 12.20', 'Не включили фары дальнего или ближнего света ночью или в туман или в туннеле, не включили фары ближнего света днем', 'предупреждение или <br>500 руб')
								+penaltyItem('ст. 12.20', 'Не включили фары дальнего или ближнего света ночью или в туман или в туннеле, не включили фары ближнего света днем', 'предупреждение или <br>500 руб')
								+penaltyItem('ст. 12.20', 'Не посигналили перед тем, как пойти на обгон', 'предупреждение или <br>500 руб')
								+penaltyItem('ст. 12.21', 'Нарушаете правила буксировки: например, забыли включить аварийку, дали выше 50 км/ч. ', 'предупреждение или <br>500 руб')
								+penaltyItem('ст. 12.23', 'Перевозите людей вне кабины авто, в грузовом прицепе', '1000 руб')
								+penaltyItem('ст. 12.23', 'Возите ребенка от 7 до 11 лет непристегнутым', '3000 руб')
								+penaltyItem('ст. 12.23', 'Оставили ребенка до 7 лет одного в машине ', '500 руб, для Москвы и Питера — 2500 руб. ')
								+penaltyItem('ст. 12.25', 'Не остановились по требованию полиции или таможенника', '500-800 руб')
							._footer
								.b-info-text
									._icon-wrap
										+icon('pencil')
									._desc
										p Что такое нечитаемый госзнак? Это знак, у которого с 20 метров не видно хотя бы одну букву или цифру. 20 метров — это примерно как высота пятиэтажки.
					
					.b-penalty-item(data-id="bottle")
						.b-penalty-item-header.-mb-30
							.b-penalty-icon.-small
								+icon('bottle')
							._title Алкоголь
						._img-wrap
							img._img(src="img/penalty-table/images/item.jpg", alt="")
						.b-penalty-item-content._content
							._header.-bordered
								._header-row
									._header-col
										._header-title Ст. КоАП
									._header-col
										._header-title Нарушение
									._header-col
										._header-title Штраф
							._body
								+penaltyItem('ст. 12.8', 'Сели за руль пьяным или передали свое авто пьяному водителю', '30 000 рублей плюс лишение прав на 18-24 месяца')
								+penaltyItem('ст. 12.8', '<b>Сели за руль пьяным и при этом без прав или с лишением прав (или передали свое авто такому водителю)</b><i class="penalty-item-content__title-italic penalty-item-content__title-italic--mt">* Факт употребления алкоголя: концентрация спирта 0,16 млр на литр выдыхаемого воздуха или 0,3 гр. спирта на 1 литр крови. <span>(Дата изменения 20.20.2020)</span></i>', 'арест на 10-15 суток, или штраф  30 000 рублей, если вы лицо, на которое нельзя наложить административный арест *.')
								+penaltyItem('ст. 12.26', 'Сели за руль пьяным и отказываетесь пройти мед.освидетельствование ', '30 000 рублей с лишением прав на 18-24 мес')
								+penaltyItem('ст. 12.26', 'Сели за руль пьяным и отказываетесь пройти мед.освидетельствование, если при этом у вас нет прав или вы лишены прав', 'арест на 10-15 суток или штраф 30 000, если арест наложить нельзя *')
							._footer
								.b-info-text
									._icon-wrap
										+icon('pencil')
									._desc
										p Административный арест не накладывают на женщин с маленькими детьми, на беременных, на подростков до 18 лет, на инвалидов I и II группы и на некоторых военных. 

					.b-penalty-item(data-id="accident")
						.b-penalty-item-header
							.b-penalty-icon.-small
								+icon('accident')
							._title Аварии
						.b-penalty-item-content._content
							._header.-bordered
								._header-row
									._header-col
										._header-title Ст. КоАП
									._header-col
										._header-title Нарушение
									._header-col
										._header-title Штраф
							._body
								+penaltyItem('ст. 12.27', 'Если вы попали в аварию и не выполняете обязанности по ПДД: например, не включили аварийку, перемещаете предметы, не вызвали скорую, не сообщили в полицию. ', '1000 руб')
								+penaltyItem('ст. 12.28', 'Скрылись с места аварии, если вы ее участник (если в аварии нет последствий по УК РФ)', 'лишение прав на 12-18 мес или арест до 15 суток')
								+penaltyItem('ст. 12.27', 'Если после аварии пили алкоголь или после остановки авто по требованию полиции до освидетельствования на состояние опьянения или до освобождения от этого освидетельствования', '30 000 руб с лишением прав на 18-24 мес')
								+penaltyItem('ст. 12.24', 'Нарушили ПДД и от этого пострадал человек, легкое причинение вреда здоровью *', '2500-5000 руб или лишение прав на 12-18 мес')
								+penaltyItem('ст. 12.24', 'Нарушили ПДД и от этого пострадал человек, вред здоровью средней тяжести*', '10-25 000 руб или лишение прав на 18-24 мес')
							._footer
								.b-info-text
									._icon-wrap
										+icon('pencil')
									._desc
										p *Легкий вред здоровью — это плохое самочувствие до 3 недель, например, раны со швами, переломы 1 и 2 ребра, перелом носа, легкое сотрясение, неподвижность пальцев рук после удара. Вред средней тяжести — это временная нетрудоспособность на период более 3 недель, без тяжелых последствий и состояний. Кстати, ушибы и гематомы не считаются причинением вреда здоровью в рамках судебно-медицинской экспертизы. 
					
					.b-penalty-item(data-id="traffic-police")
						.b-penalty-item-header
							.b-penalty-icon.-small
								+icon('traffic-police')
							._title Невыполнение требований сотрудников полиции
						.b-penalty-item-content._content
							._header.-bordered
								._header-row
									._header-col
										._header-title Ст. КоАП
									._header-col
										._header-title Нарушение
									._header-col
										._header-title Штраф
							._body
								+penaltyItem('12.25 ч.1', 'Невыполнение требования о предоставлении ТС сотрудникам полиции или иным лицам, которым в случаях, предусмотренных законодательством, предоставлено право использовать транспортные средства', '500 руб.')
								+penaltyItem('12.25 ч.2', 'Невыполнение законного требования сотрудника полиции, должностного лица таможенного органа или должностного лица федерального органа исполнительной власти, осуществляющего функции по контролю и надзору в сфере транспорта, об остановке транспортного средства', '500 - 800 руб.')
								+penaltyItem('12.25 ч.3', 'Невыполнение законного требования должностного лица военной автомобильной инспекции об остановке транспортного средства Вооруженных Сил Российской Федерации, войск национальной гвардии Российской Федерации, инженерно-технических, дорожно-строительных воинских формирований при федеральных органах исполнительной власти или спасательных воинских формирований федерального органа исполнительной власти, уполномоченного на решение задач в области гражданской обороны.', '500 - 800 руб.')
								+penaltyItem('12.26 ч.1', 'Невыполнение водителем законного требования сотрудника милиции о прохождении медицинского освидетельствования на состояние опьянения если такие действия (бездействие) не содержат уголовно наказуемого деяния', '30 000 руб. и лишение прав на 18 - 24 месяца. Задержание ТС')
								+penaltyItem('12.26 ч.2', 'Невыполнение водителем транспортного средства, не имеющим права управления транспортными средствами либо лишенным права управления транспортными средствами, законного требования уполномоченного должностного лица о прохождении медицинского освидетельствования на состояние опьянения если такие действия (бездействие) не содержат уголовно наказуемого деяния', 'Арест на 10 - 15 суток. Штраф 30 000 руб. для лиц, в отношении которых не может применяться арест задержание ТС')
								+penaltyItem('12.27 ч.1', 'Невыполнение водителем обязанностей, предусмотренных Правилами дорожного движения, в связи с дорожно-транспортным происшествием, участником которого он является, за исключением случаев, предусмотренных частью 2 настоящей статьи.', '1 000 руб.')
								+penaltyItem('12.27 ч.2', 'Оставление водителем в нарушение Правил дорожного движения места ДТП, участником которого он являлся.', 'Лишение прав на 12 - 18 месяцев или арест до 15 суток')
								+penaltyItem('12.27 ч.3', 'Невыполнение требования Правил дорожного движения о запрещении водителю употреблять алкогольные напитки, наркотические или психотропные вещества после дорожно-транспортного происшествия, к которому он причастен, либо после того, как транспортное средство было остановлено по требованию сотрудника полиции, до проведения уполномоченным должностным лицом освидетельствования в целях установления состояния опьянения или до принятия уполномоченным должностным лицом решения об освобождении от проведения такого освидетельствования.', '30 000 руб. и лишение прав на 18 - 24 месяца.')
					
					.b-penalty-item(data-id="crossroad-line")
						.b-penalty-item-header.-mb-30
							.b-penalty-icon.-small
								+icon('crossroad-line')
							._title Штрафы за пересечения перекрестка
						._img-wrap
							img._img(src="img/penalty-table/images/item1.jpg", alt="")
						.b-penalty-item-content._content
							._header.-bordered
								._header-row
									._header-col
										._header-title Ст. КоАП
									._header-col
										._header-title Нарушение
									._header-col
										._header-title Штраф
							._body
								+penaltyItem('12.13 ч.1', 'Выезд на перекресток или пересечение проезжей части дороги в случае образовавшегося затора, который вынудил водителя остановиться, создав препятствие для движения ТС в поперечном направлении.', '1 000 руб.')
								+penaltyItem('12.13 ч.2', 'Невыполнение требования Правил дорожного движения уступить дорогу ТС, пользующемуся преимущественным правом проезда перекрестков.', '1 000 руб.')
					
					.b-penalty-item(data-id="signal")
						.b-penalty-item-header
							.b-penalty-icon.-small
								+icon('signal')
							._title Установка мигалок
						.b-penalty-item-content._content
							._header.-bordered
								._header-row
									._header-col
										._header-title Ст. КоАП
									._header-col
										._header-title Нарушение
									._header-col
										._header-title Штраф
							._body
								+penaltyItem('12.4 ч.1', 'Установка на передней части транспортного средства световых приборов с огнями красного цвета или световозвращающих приспособлений красного цвета, а равно световых приборов, цвет огней и режим работы которых не соответствуют требованиям Основных положений по допуску транспортных средств к эксплуатации и обязанностей должностных лиц по обеспечению безопасности дорожного движения.', '3 000 руб., конфискация')
								+penaltyItem('12.4 ч.2', 'Установка на транспортном средстве без соответствующего разрешения устройств для подачи специальных световых или звуковых сигналов (за исключением охранной сигнализации) или незаконная установка на транспортном средстве опознавательного фонаря легкового такси или опознавательного знака "Инвалид".', '5 000 руб., конфискация')
								+penaltyItem('12.4 ч.3', 'Незаконное нанесение на наружные поверхности транспортного средства специальных цветографических схем автомобилей оперативных служб или цветографической схемы легкового такси', '5 000 руб.')
					
					.b-penalty-item(data-id="advrtsing")
						.b-penalty-item-header
							.b-penalty-icon.-small
								+icon('advrtsing')
							._title Реклама
						.b-penalty-item-content._content
							._header.-bordered
								._header-row
									._header-col
										._header-title Ст. КоАП
									._header-col
										._header-title Нарушение
									._header-col
										._header-title Штраф
							._body
								+penaltyItem('14.38 ч.2', 'Размещение рекламы, имеющей сходство с дорожными знаками, или размещение рекламы на знаке дорожного движения, его опоре или любом ином приспособлении, предназначенном для регулирования дорожного движения.', '<p>На граждан: <br>2 000 - 2 500 руб.</p> <p>На должностное лицо:<br> 10 000 - 15 000 руб. <br>На юр. лицо: <br>100 000 - 200 000 руб.</p>')
								+penaltyItem('14.38 ч.4', 'Использование транспортного средства исключительно или преимущественно в качестве передвижной рекламной конструкции, в том числе переоборудование транспортного средства для распространения рекламы в результате которого транспортное средство полностью или частично утратило функции, для выполнения которых оно было предназначено, переоборудование кузова транспортного средства с приданием ему вида определенного товара.', '<p>На граждан: <br>3 000 - 5 000 руб.</p><p>На должностное лицо: <br>30 000 - 50 000 руб. <br>На юр. лицо: <br>500 000 - 1 000 000 руб</p>')
								+penaltyItem('14.38 ч.2', 'Размещение на транспортном средстве рекламы, создающей угрозу безопасности дорожного движения, в том числе рекламы, ограничивающей обзор лицу, управляющему транспортным средством, и другим участникам дорожного движения.', '<p>На граждан: <br>2 000 - 2 500 руб.</p><p>На должностное лицо:<br>10 000 - 20 000 руб.<br>На юр. лицо:<br>200 000 - 500 000 руб.</p>')
								+penaltyItem('14.38 ч.4', 'Распространение звуковой рекламы с использованием транспортных средств, а также звуковое сопровождение рекламы, распространяемой с использованием транспортных средств.', '<p>На граждан:<br>2 000 - 2 500 руб.</p><p>На должностное лицо:<br>4 000 - 7 000 руб.<br>На юр. лицо:<br>40 000 - 100 000 руб.</p>')
					
					.b-penalty-item(data-id="fast-speed")
						.b-penalty-item-header.-mb-30
							.b-penalty-icon.-small
								+icon('fast-speed')
							._title Превышение скорости
						._img-wrap
							img._img(src="img/penalty-table/images/item2.jpg", alt="")
						.b-penalty-item-content._content
							._header.-bordered
								._header-row
									._header-col
										._header-title Ст. КоАП
									._header-col
										._header-title Нарушение
									._header-col
										._header-title Штраф
							._body
								+penaltyItem('12.9 ч.2', 'Превышение установленной скорости движения транспортного средства на величину более 20, но не более 40 километров в час.', '500 руб.')
								+penaltyItem('12.9 ч.3', 'Превышение установленной скорости движения транспортного средства на величину более 40, но не более 60 километров в час.', '1 000 – 1 500 руб.')
								+penaltyItem('12.9 ч.4', 'Превышение установленной скорости движения транспортного средства на величину более 60, но не более 80 километров в час.', '2 000 – 2 500 руб. или ЛП 4-6 месяцев')
								+penaltyItem('12.9 ч.6', 'Повторное совершение административного правонарушения, предусмотренного частью 3 настоящей статьи.', '2 000 – 2 500 руб.')
								+penaltyItem('12.9 ч.7', 'Повторное совершение административного правонарушения, предусмотренного частями 4 и 5 настоящей статьи.', 'ЛП 1 год или 5 000 руб.')
					
					.b-penalty-item(data-id="parking")
						.b-penalty-item-header.-mb-30
							.b-penalty-icon.-small
								+icon('parking')
							._title Остановились или припарковались, где не положено
						.b-penalty-item-content._content
							._header.-bordered
								._header-row
									._header-col
										._header-title Ст. КоАП
									._header-col
										._header-title Нарушение
									._header-col
										._header-title Штраф
							._body
								+penaltyItem('ст. 12.19', 'Остановились или припарковали авто там, где нельзя (за исключением случаев ниже)', 'предупреждение или 500 рублей, для Москвы и Питера — 2500 руб')
								+penaltyItem('ст. 12.19', 'Остановились или поставили авто на стоянке для инвалидов', '5000 рублей')
								+penaltyItem('ст. 12.19', 'Остановились или поставили авто на пешеходном переходе или ближе чем в 5 метрах от него или на тротуаре', '1000 рублей, для Москвы и Питера— 3000 руб')
								+penaltyItem('ст. 12.19', 'Остановились или оставили авто на автобусной остановке или на стоянке для такси или ближе, чем в 15 метрах от них (исключение — посадка пассажиров или вынужденная остановка) ', '1000 руб, для Москвы и Питера — 3000 руб')
								+penaltyItem('ст. 12.19', 'Остановились или оставили авто на трамвайных путях или дальше первого ряда от края проезжей части', '1500 руб, для Москвы и Питера — 3000 руб')
								+penaltyItem('ст. 12.19', 'Остановились или оставили авто в туннеле, или остановились и оставили авто на проезжей части и тем самым создали пробку ', '2000 рублей, в Москве и Питере — 3000 руб')
					
					.b-penalty-item(data-id="unreadable-signs")
						.b-penalty-item-header.-mb-30
							.b-penalty-icon.-small
								+icon('unreadable-signs')
							._title Штрафы за нечитаемые номера
						._img-wrap
							img._img(src="img/penalty-table/images/item3.jpg", alt="")
						.b-penalty-item-content._content
							._header.-bordered
								._header-row
									._header-col
										._header-title Ст. КоАП
									._header-col
										._header-title Нарушение
									._header-col
										._header-title Штраф
							._body
								+penaltyItem('12.2 ч.1', 'Управление транспортным средством с нечитаемыми, нестандартными или установленными с нарушением требований государственного стандарта государственными регистрационными знаками, за исключением случаев, предусмотренных частью 2.', 'предупреждение или 500 руб.')
								+penaltyItem('12.2 ч.2', 'Управление транспортным средством без государственных регистрационных знаков, а равно управление транспортным средством без установленных на предусмотренных для этого местах государственных регистрационных знаков либо управление транспортным средством с государственными регистрационными знаками, видоизмененными или оборудованными с применением устройств или материалов, препятствующих идентификации государственных регистрационных знаков либо позволяющих их видоизменить или скрыть.', '5 000 руб. или лишение прав от 1 до 3 месяцев.')
								+penaltyItem('12.2 ч.3', 'Установка на транспортном средстве заведомо подложных государственных регистрационных знаков', '<p>На граждан: <br>2 500 руб.</p><p>На должностное лицо: <br>15 000 - 20 000 руб.<br>На юр. лицо: <br>400 000 - 500 000 руб.</p>')
								+penaltyItem('12.2 ч.4', 'Управление ТС с заведомо подложными государственными регистрационными знакам', 'Лишение прав на 6 - 12 месяцев.')
								+penaltyItem('12.5 ч.1', 'Неисправное авто  11.23 ч.1 Управление транспортным средством либо выпуск на линию транспортного средства для перевозки грузов и (или) пассажиров без без технического средства контроля, обеспечивающего непрерывную, некорректируемую регистрацию информации о скорости и маршруте движения транспортного средства, о режиме труда и отдыха водителя транспортного средства (далее - тахограф), в случае, если его установка на транспортном средстве предусмотрена законодательством Российской Федерации, а также с неработающим (блокированным, подвергшимся модификации или неисправным) или с не соответствующим установленным требованиям тахографом, за исключением случая поломки тахографа после выпуска на линию транспортного средства, а равно с нарушением установленных правил использования тахографа (в том числе блокирование, корректировка, модификация или фальсификация регистрируемой им информации 1 000 - 3 000 руб.', 'На должностных лиц 5 000 - 10 000 руб.')
								+penaltyItem('12.5 ч.1', 'Управление транспортным средством при наличии неисправностей или условий, при которых в соответствии с Основными положениями по допуску транспортных средств к эксплуатации и обязанностями должностных лиц по обеспечению безопасности дорожного движения эксплуатация транспортного средства запрещена, за исключением неисправностей и условий, указанных в частях 2 - 7 настоящей статьи', 'Предупреждение или штраф 500 руб.')
								+penaltyItem('12.5 ч.2', 'Управление транспортным средством с заведомо неисправными тормозной системой (за исключением стояночного тормоза), рулевым управлением или сцепным устройством (в составе поезда).', '500 руб. отстранение от управления ТС, задержание ТС')
					
					.b-penalty-item
						.b-penalty-item-header.-vertical
							._title Серьезное хулиганство (скорее всего, это не про вас)
							._desc Скорее всего, эти штрафы вы не получите, если только вы не злостный хулиган.
						.b-penalty-item-content._content
							._header.-bordered
								._header-row
									._header-col
										._header-title Ст. КоАП
									._header-col
										._header-title Нарушение
									._header-col
										._header-title Штраф
							._body
								+penaltyItem('ст.12.7', '«Гоняете без прав»', '5000-15 000 руб')
								+penaltyItem('ст.12.8', 'Ездите, если вас лишили прав', '30 000 руб или арест на 15 суток или обязательные работы 100-200 часов')
								+penaltyItem('ст.12.2', 'Ездите на авто без госномеров или с такими госзнаками, которые можно изменить или скрыть', '5000 руб или лишение прав на 1-3 месяца')
								+penaltyItem('ст.12.2', 'Установили на авто заведомо подложные госзнаки', '2500 руб')
								+penaltyItem('ст.12.2', 'Установили на авто заведомо подложные госзнаки', '2500 руб')
								+penaltyItem('ст.12.4', 'Установили себе на переднюю часть машины фары или другой световой прибор красного цвета. Или если фары вообще не работают ', '3000 руб с конфискацией приборов')
								+penaltyItem('ст.12.4', 'Незаконно установили себе проблесковый маячок синего цвета, или сигнал «Сирена», или знак «Инвалид», или фонарик такси', '5000 руб с конфискацией приборов')
								+penaltyItem('ст.12.4', 'Незаконно нанесли цветовую символику такси или полиции ', '5000 руб')
								+penaltyItem('ст.12.5', 'Ездите на машине с проблесковым маячком синего цвета и/или сигналом «Сиреной», установленными без разрешения', 'лишение прав на 12-18 мес с конфискацией приборов')
								+penaltyItem('ст.12.5', 'Незаконно установили фонарик такси или знак «Инвалид» и ездите', '5000 руб с конфискацией прибора')
								+penaltyItem('ст.12.5', 'Ездите на машине с цветовой символикой такси', '5000 руб на водителя')
								+penaltyItem('ст.12.5', 'Ездите на авто с включенной сиреной и/или голубым маячком, установленными без разрешения ', 'лишение прав на 18-24 месяцев с конфискацией прибора')
								+penaltyItem('ст.12.5', 'Ездите на авто, на котором незаконно установлена символика полиции', 'лишение прав на 12-18 мес')
								+penaltyItem('ст.12.5', 'Повторный выезд на встречку', 'лишение прав на год, если зафиксировала камера — 5000 руб')
								+penaltyItem('ст.12.7', 'Если вы разрешили сесть за руль своего авто человеку, заведомо зная, что у него нет прав или что его лишили прав', '30 000 руб')
								+penaltyItem('ст.12.9', 'Превысили скорость на величину 60-80 км/ч', '2000-2500 руб или лишение прав на 4-6 мес')
								+penaltyItem('ст.12.9', 'Превысили скорость на 80 км/ч', '5000 руб или лишение прав на полгода')
								+penaltyItem('ст.12.9', 'Повторное превысили скорость на 60 км/ч и более', 'лишение прав на 1 год, а если факт зафиксировала съемка — то штраф 5000 руб')
								+penaltyItem('ст.12.10', 'Переехали через железную дорогу там, где нет переезда или выехали на переезд при закрывающемся шлагбауме или на красный светофор', '1000 руб или лишение прав на 3-6 мес')
								+penaltyItem('ст.12.10', 'Если повторили такой переезд и выезд на ж/д', 'лишение прав на год')
								+penaltyItem('ст.12.16', 'Выехали навстречу на дороге с односторонним движением', '5000 руб или лишение прав на 4-6 мес')
								+penaltyItem('ст.12.16', 'Повторное выехали навстречу при одностороннем движении, если вас за это уже штрафовали', 'лишение прав на 1 год, а если нарушение зафиксировали камеры, то 5000 руб')
								+penaltyItem('ст.12.12', 'Повторный проезд на красный, желтый или запрещающий жест, если вас за это уже штрафовали ', '5000 руб или лишение прав на 4-6 мес')

					.b-penalty-item.-unbordered
						.b-penalty-item-header.-mb-30
							._title Какие появились новые штрафы в 2020 году
						.b-penalty-item-content._content
							._body
								._desc
									p В 2020-м году новых штрафов для легковых авто нет. Зато гуляет много мифов. 
									p Например, что теперь совсем нельзя ездить без госномеров. Это не так. Правила не изменились, просто теперь госномера могут выдавать сразу в автосалонах. При этом в течение 10 дней с момента покупки вы спокойно можете ездить без госномеров — за это не штрафуют! За эти 10 дней вы можете получить номера как в салоне, так и в ГИБДД. А вот если спустя 10 дней продолжите ездить без госзнаков, тогда штраф. 
									p Есть и второй миф — что за езду без ОСАГО штраф составляет до 5000 рублей. На самом деле, это лишь предложения, и они не приняты. В 2020 году согласно КоАП штраф за отсутствие страховки или ее просрочку — 500-800 рублей. 
									p Третий миф — что камеры начнут автоматически фиксировать отсутствие ОСАГО у проезжающих машин и штрафовать. На самом деле, такую реформу ввели только в Москве и это лишь тестовый режим: никого не штрафуют, а просто рассылают уведомления-напоминания, что надо сделать страховку. 
									p Активно обсуждаются также снижение порога превышения скорости с 20 км/ч до 10 км/ч, штрафы за проезды по платным дорогам без оплаты, за злоупотребление аварийкой и т. д. Но это лишь разговоры и предложения отдельных депутатов. Пока в КоАП РФ и ПДД-2020 официально никаких принятых изменений нет. 
									p 
										b Зато с 1 марта 2022 года нельзя будет ездить без оформленной диагностической карты — штраф 2000 рублей. Вот это уже реально. 
										| Есть изменения, касающиеся водителей коммерческого транспорта, грузовиков и автобусов. Так в жилой застройке теперь нельзя оставлять газели на ночь.
							._footer
								a._img-wrap(href='https://www.youtube.com/watch?v=rntTlHwDM5Q', data-fancybox='')
									img._img(src="img/penalty-table/images/video-img.jpg", alt="")
									span._icon-wrap
										img._icon(src='img/icons/youtube.svg', alt='')
			
			._col.-right
				.b-popular-penalties._popular-penalties
					._title Самые популярные штрафы 2020 года
					ul._list
						li._item
							a._link(href="#") Водитель в состояние алкогольного опьянения
						li._item
							a._link(href="#") Превышение скорости более <br>20 км/ч.
						li._item
							a._link(href="#") Нет полиса ОСАГО
						li._item
							a._link(href="#") Вождение без водительского удостоверения
						li._item
							a._link(href="#") Тонировка не по ГОСТу
						li._item
							a._link(href="#") Проезд на красный сигнал светофора
						li._item
							a._link(href="#") Езду по встречной полосе
						li._item
							a._link(href="#") Пересечение двойной сплошной
						li._item
							a._link(href="#") Не пристегнут ремень
				form.b-small-gray-card.-vertical.-white._small-gray-card
						h4._title.xl-title Проверка автомобиля
						._line.-top
							.b-input.-small
								._title Введите гос номер
								._wrap
									input(type="text" name="licensePlateStart" placeholder="A 007 AA")
									span._icon
						._line.-bottom
							label.b-checkbox.-start._checkbox
								input._input(type="checkbox" name="agreement" checked)
								span._icon
									+icon('check')
								span._text Я согласен на обработку 
									a(href="#") персональных данных
							button._btn.btn Проверить
