section.b-articles
	.container._container
		nav.b-bread-crumbs
			ul._list
				li._item
					a._link(href="/") Главная
					+icon('bread-crumbs-arrow')
				li._item
					a._link(href="#")  Новости
	.container
		h1._title Новости
		nav.b-articles-filter
			ul._list
				li._item.-active
					a._link(href="#") Все
						span._count (76)
				li._item
					a._link(href="#") Правила ПДД 
						span._count (15)
				li._item
					a._link(href="#") Законодательство 
						span._count (5)
				li._item
					a._link(href="#") Инструкции 
						span._count (33)
				li._item
					a._link(href="#") Нормативные докумены 
						span._count (19)
	._container.container
		.news-row
			.news-col.news-col--full
				+newsItem('full/item1', 'Правила ПДД', 'Из-за карантина <br>ГИБДД временно не будет наказывать за нарушение сроков регистрации авто', 'Также в ведомстве планируют минимизировать общение с гражданами при предоставлении госуслуг.', 'news-card--full')
	.container
		.news-row
			.news-col
				+newsItem('item1', 'Законодательство', 'Как оплатить штраф ГИБДД онлайн', 'В 2018 году, как показывает статистика, большая часть водителей оплачивает штрафы онлайн.')
			.news-col
				+newsItem('item2', 'Инструкции', 'Руководство по ОСАГО - как оформить, стоимость, условия страхования.', 'Если вы получили водительские права...')
			.news-col
				+newsItem('item3', 'Норма. документы', 'Замена иностранных прав <br>на российские, пересдача экзаменов.', 'Управлять автомобилем на территории России по иностранным правам можно...')
			.news-col
				+newsItem('item4', 'Законодательство', 'Нечитаемые номера - штраф или лишение прав', 'Грязные номера – распространенная проблема на российских дорогах.')
			.news-col
				+newsItem('item5', 'Инструкции', 'Как проверить штрафы ГИБДД по ИНН организации', 'Просроченные штрафы - это не только дополнительные расходы средств...')
			.news-col
				+newsItem('item6', 'Норма. документы', 'Какие документы о ДТП оформляет инспектор ДПС', 'Инспектор ДПС  как правило оформляет следующие документы на месте ДТП.')
		.b-news-banner._banner
			._img-wrap
				img._img(src="img/news/full/item2.jpg", alt="")
			._content
				.b-news-info.-desktop.-light._category-wrap
					a._category.-btn.-green(href="#") Норм. докумены
					._wrap
						._date 28 марта 2020
						._view
							._view-icon
								+icon('view')
							._view-count 2.8К
				._title-wrap
					h2._title Как оспорить штрафы за нарушения правил движения?
					._desc.desc
						p Год от года штрафы за превышение скорости и несоблюдение требований дорожной разметки становятся больше.
		.news-row.news-row--bottom
			.news-col
				+newsItem('item7', 'Законодательство', 'ГИБДД исключит "площадку" из экзамена на права', 'анее планировалось объединить этапы "площадка" и "город", но инициативу...')
			.news-col
				+newsItem('item8', 'Инструкции', '"Блатные" цифры. ГИБДД будет продавать красивые номера через Госуслуги.', 'Если вы получили водительские права...')
			.news-col
				+newsItem('item9', 'Норма. документы', 'В ГИБДД назвали районы Москвы, где чаще всего происходят аварии', 'Управлять автомобилем на территории России по иностранным правам можно...')
			.news-col
				+newsItem('item10', 'Законодательство', 'ГИБДД получили приборы для измерения ровности дорожного покрытия и обочин', 'Сотрудники ГИБДД получили специальные...')
			.news-col
				+newsItem('item11', 'Инструкции', 'Как проверить штрафы ГИБДД по ИНН организации', 'Просроченные штрафы - это не только дополнительные расходы средств...')
			.news-col
				+newsItem('item12', 'Норма. документы', 'C 1 июня в России вступают в силу новые законы и нормативные акты', 'Инспектор ДПС  как правило оформляет следующие документы на месте ДТП.')
			.news-col
				a._btn.white-btn(href="#") Смотреть еще
		nav.b-pagination
			a._btn.-prev(href="#")
				span._icon-wrap
					+icon('arrow-right')
				span._link-text предыдущая
			ul._list
				li._item.-active
					a._link(href="#") 1
				li._item
					a._link(href="#") 2
				li._item
					a._link(href="#") 3
				li._item
					span._empty ...
				li._item
					a._link(href="#") 100
			a._btn.-next(href="#")
				span._link-text следущая
				span._icon-wrap
					+icon('arrow-right')
