.b-banner
	._icon-wrap
		+icon('warning')
	._title-wrap
		._title Подать жалобу в это подразделение ГИБДД
		._desc.sm-title
			p Каждый гражданин вправе подать жалобу на нетрезвого водителя, на водителя маршрутного транспортного средства или на неправомерные действия сотрудников ГИБДД.
	a._btn.btn.js-popup(href="#complaint") Подать жалобу
