section.b-info.-white
	._container.container
		h2._title Как проверить авто при покупке - инструкция
		._desc.desc
			p Для проверки автомобиля на юридическую чистоту вам будет достаточно знать гос. номер автомобиля или вин номер. Вин номер вы можете увидеть на левой стороне водителя за лобовым стеклом, также вин номер находится под капотом.
		._row
			._col
				a._img-wrap(href="https://www.youtube.com/watch?v=rntTlHwDM5Q" data-fancybox)
					img._img(src="img/info/video2.jpg", alt="")
					span._icon-wrap
						img._icon(src="img/icons/youtube.svg", alt="")
			._col
				.b-info-card.-white
					._title.md-title При покупке автомобиля дистанционно обязательно просите у продавца вин номер и делайте проверку, часто водители обманывают в первую очередь по кол- ву аварий, достаточно будет сделать отчет за 99р. и вы сможете увидеть врет ли продавец. 
					._desc.md-desc
						p Если вам соврали ехать на осмотр автомобиля не имеет смысла. <br>Подробно о том как произвести проверку автомобиля мы рассказали.
							a(href="#") подробнее