section.b-faq
	.container
		nav.b-bread-crumbs
			ul._list
				li._item
					a._link(href="/") Главная
					+icon('bread-crumbs-arrow')
				li._item
					a._link(href="#") Вопрос - ответ
		h1._title Вопрос - ответ
		._row
			._col.-left
				.b-asking-content.-collapse._asking-content
					
					//- 1
					._card.show(data-contentId="faq-1")
						._title-wrap
							._title.xl-title Вопросы по ПДД
							._title-icon
								+icon('triangle')
						._toggle-block.-mobile(style="display: block")
							.b-asking-content.-mobile._asking-content
								._card(data-id="faq-1")
									._title-wrap
										._title.xl-title Как оспорить штраф гибдд
										._title-icon
											+icon('triangle')
									._desc.md-desc
										p Любой штраф всегда можно оспорить. Прежде всего в организации которая его выписала. Это не обязательно гаи, поэтому выясните кто оштрафовал. Далее пишется заявление в организацию. Вероятно там его признают правомерным (если это не яркая ошибка). В таком случае следует обращаться в местный суд. Помните что у вас 10 дней на подачу жалобы ( с момента получения уведомления)
								._card(data-id="faq-2")
									._title-wrap
										._title.xl-title Срок оплаты штрафов со скидкой
										._title-icon
											+icon('triangle')
									._desc.md-desc
										p Установленный срок для скидки составляет 20 дней. Но не всегда уведомление приходит вовремя. Если квитанция (уведомление) приходит позже этого срока, отчет начинает считаться с момента получения. Необходимо подать ходатайство о восстановлении срока. После этого оплатить.
								._card(data-id="faq-3")
									._title-wrap
										._title.xl-title Срок действия штрафа гибдд
										._title-icon
											+icon('triangle')
									._desc.md-desc
										p Срок когда к вам будут претензии составляет 2 года. Это время вами будут заниматься судебные приставы, и может быть введено ограничение. По истечении срока, следует написать заявление о прекращении дела. Однако если в указанный период вы будете найдены - срок начинает считаться заново.
								._card(data-id="faq-4")
									._title-wrap
										._title.xl-title Штраф оплачен, но на сайте гибдд висит
										._title-icon
											+icon('triangle')
									._desc.md-desc
										p В такой ситуации необходимо подтвердить факт оплаты штрафа. Проверьте прошел ли платеж. Если все в порядке, нужно написать заявление в местный орган ГИБДД. В заявлении указать номер постановления и прикрепить квитанцию об оплате. Подается лично или на сайте гибдд.
								._card(data-id="faq-5")
									._title-wrap
										._title.xl-title Срок действия скидки 50% на штраф
										._title-icon
											+icon('triangle')
									._desc.md-desc
										p Оплатить штраф по льготной ставке, можно только в течении 20 дней с момента получения уведомления. Если получили письмо по почте - срок начинается с даты указанной на печати почтового отделения. То что вы не забирали,не открывали письмо не подойдет в качестве аргумента для отсрочки
								._card(data-id="faq-6")
									._title-wrap
										._title.xl-title Срок действия скидки 50% на штраф
										._title-icon
											+icon('triangle')
									._desc.md-desc
										p Оплатить штраф по льготной ставке, можно только в течении 20 дней с момента получения уведомления. Если получили письмо по почте - срок начинается с даты указанной на печати почтового отделения. То что вы не забирали,не открывали письмо не подойдет в качестве аргумента для отсрочки
						._toggle-block.-desktop(style="display: block")
							nav.b-asking-nav.-collapse
								ul._list
									li._item
										a._link(href="#faq-1") Как долго обрабатываются платежи?
									li._item
										a._link(href="#faq-2") Как мне узнать, есть ли у меня долги?
									li._item
										a._link(href="#faq-3") Штраф оплатил в банке, однако, он не погашен?
									li._item
										a._link(href="#faq-4") Не могу оплатить штраф со скидкой 50%?
									li._item
										a._link(href="#faq-5") Как получить квитанцию об оплате?
									li._item
										a._link(href="#faq-6") Где и как распечатать постановление ГИБДД?

				
					//- 2
					._card(data-contentId="faq-2")
						._title-wrap
							._title.xl-title Водительское удостоверение
							._title-icon
								+icon('triangle')
						._toggle-block.-mobile
							.b-asking-content.-mobile._asking-content
								._card(data-id="faq-1")
									._title-wrap
										._title.xl-title Как оспорить штраф гибдд
										._title-icon
											+icon('triangle')
									._desc.md-desc
										p Любой штраф всегда можно оспорить. Прежде всего в организации которая его выписала. Это не обязательно гаи, поэтому выясните кто оштрафовал. Далее пишется заявление в организацию. Вероятно там его признают правомерным (если это не яркая ошибка). В таком случае следует обращаться в местный суд. Помните что у вас 10 дней на подачу жалобы ( с момента получения уведомления)
								._card(data-id="faq-2")
									._title-wrap
										._title.xl-title Срок оплаты штрафов со скидкой
										._title-icon
											+icon('triangle')
									._desc.md-desc
										p Установленный срок для скидки составляет 20 дней. Но не всегда уведомление приходит вовремя. Если квитанция (уведомление) приходит позже этого срока, отчет начинает считаться с момента получения. Необходимо подать ходатайство о восстановлении срока. После этого оплатить.
								._card(data-id="faq-3")
									._title-wrap
										._title.xl-title Срок действия штрафа гибдд
										._title-icon
											+icon('triangle')
									._desc.md-desc
										p Срок когда к вам будут претензии составляет 2 года. Это время вами будут заниматься судебные приставы, и может быть введено ограничение. По истечении срока, следует написать заявление о прекращении дела. Однако если в указанный период вы будете найдены - срок начинает считаться заново.
								._card(data-id="faq-4")
									._title-wrap
										._title.xl-title Штраф оплачен, но на сайте гибдд висит
										._title-icon
											+icon('triangle')
									._desc.md-desc
										p В такой ситуации необходимо подтвердить факт оплаты штрафа. Проверьте прошел ли платеж. Если все в порядке, нужно написать заявление в местный орган ГИБДД. В заявлении указать номер постановления и прикрепить квитанцию об оплате. Подается лично или на сайте гибдд.
								._card(data-id="faq-5")
									._title-wrap
										._title.xl-title Срок действия скидки 50% на штраф
										._title-icon
											+icon('triangle')
									._desc.md-desc
										p Оплатить штраф по льготной ставке, можно только в течении 20 дней с момента получения уведомления. Если получили письмо по почте - срок начинается с даты указанной на печати почтового отделения. То что вы не забирали,не открывали письмо не подойдет в качестве аргумента для отсрочки
								._card(data-id="faq-6")
									._title-wrap
										._title.xl-title Срок действия скидки 50% на штраф
										._title-icon
											+icon('triangle')
									._desc.md-desc
										p Оплатить штраф по льготной ставке, можно только в течении 20 дней с момента получения уведомления. Если получили письмо по почте - срок начинается с даты указанной на печати почтового отделения. То что вы не забирали,не открывали письмо не подойдет в качестве аргумента для отсрочки
						._toggle-block.-desktop
							nav.b-asking-nav.-collapse
								ul._list
									li._item
										a._link(href="#faq-1") Как долго обрабатываются платежи?
									li._item
										a._link(href="#faq-2") Как мне узнать, есть ли у меня долги?
									li._item
										a._link(href="#faq-3") Штраф оплатил в банке, однако, он не погашен?
									li._item
										a._link(href="#faq-4") Не могу оплатить штраф со скидкой 50%?
									li._item
										a._link(href="#faq-5") Как получить квитанцию об оплате?
									li._item
										a._link(href="#faq-6") Где и как распечатать постановление ГИБДД?
					
					//- 3
					._card(data-contentId="faq-3")
						._title-wrap
							._title.xl-title Юридические вопросы
							._title-icon
								+icon('triangle')
						._toggle-block.-mobile
							.b-asking-content.-mobile._asking-content
								._card(data-id="faq-1")
									._title-wrap
										._title.xl-title Как оспорить штраф гибдд
										._title-icon
											+icon('triangle')
									._desc.md-desc
										p Любой штраф всегда можно оспорить. Прежде всего в организации которая его выписала. Это не обязательно гаи, поэтому выясните кто оштрафовал. Далее пишется заявление в организацию. Вероятно там его признают правомерным (если это не яркая ошибка). В таком случае следует обращаться в местный суд. Помните что у вас 10 дней на подачу жалобы ( с момента получения уведомления)
								._card(data-id="faq-2")
									._title-wrap
										._title.xl-title Срок оплаты штрафов со скидкой
										._title-icon
											+icon('triangle')
									._desc.md-desc
										p Установленный срок для скидки составляет 20 дней. Но не всегда уведомление приходит вовремя. Если квитанция (уведомление) приходит позже этого срока, отчет начинает считаться с момента получения. Необходимо подать ходатайство о восстановлении срока. После этого оплатить.
								._card(data-id="faq-3")
									._title-wrap
										._title.xl-title Срок действия штрафа гибдд
										._title-icon
											+icon('triangle')
									._desc.md-desc
										p Срок когда к вам будут претензии составляет 2 года. Это время вами будут заниматься судебные приставы, и может быть введено ограничение. По истечении срока, следует написать заявление о прекращении дела. Однако если в указанный период вы будете найдены - срок начинает считаться заново.
								._card(data-id="faq-4")
									._title-wrap
										._title.xl-title Штраф оплачен, но на сайте гибдд висит
										._title-icon
											+icon('triangle')
									._desc.md-desc
										p В такой ситуации необходимо подтвердить факт оплаты штрафа. Проверьте прошел ли платеж. Если все в порядке, нужно написать заявление в местный орган ГИБДД. В заявлении указать номер постановления и прикрепить квитанцию об оплате. Подается лично или на сайте гибдд.
								._card(data-id="faq-5")
									._title-wrap
										._title.xl-title Срок действия скидки 50% на штраф
										._title-icon
											+icon('triangle')
									._desc.md-desc
										p Оплатить штраф по льготной ставке, можно только в течении 20 дней с момента получения уведомления. Если получили письмо по почте - срок начинается с даты указанной на печати почтового отделения. То что вы не забирали,не открывали письмо не подойдет в качестве аргумента для отсрочки
								._card(data-id="faq-6")
									._title-wrap
										._title.xl-title Срок действия скидки 50% на штраф
										._title-icon
											+icon('triangle')
									._desc.md-desc
										p Оплатить штраф по льготной ставке, можно только в течении 20 дней с момента получения уведомления. Если получили письмо по почте - срок начинается с даты указанной на печати почтового отделения. То что вы не забирали,не открывали письмо не подойдет в качестве аргумента для отсрочки
						._toggle-block.-desktop
							nav.b-asking-nav.-collapse
								ul._list
									li._item
										a._link(href="#faq-1") Как долго обрабатываются платежи?
									li._item
										a._link(href="#faq-2") Как мне узнать, есть ли у меня долги?
									li._item
										a._link(href="#faq-3") Штраф оплатил в банке, однако, он не погашен?
									li._item
										a._link(href="#faq-4") Не могу оплатить штраф со скидкой 50%?
									li._item
										a._link(href="#faq-5") Как получить квитанцию об оплате?
									li._item
										a._link(href="#faq-6") Где и как распечатать постановление ГИБДД?

			._col.-right
				.b-faq-tabs.-desktop
					._item.-show(data-contentId="faq-1" style="display: block;")
						.b-asking-content._asking-content
							._card(data-id="faq-1")
								._title-wrap
									._title.xl-title Как оспорить штраф гибдд
									._title-icon
										+icon('triangle')
								._desc.md-desc
									p Любой штраф всегда можно оспорить. Прежде всего в организации которая его выписала. Это не обязательно гаи, поэтому выясните кто оштрафовал. Далее пишется заявление в организацию. Вероятно там его признают правомерным (если это не яркая ошибка). В таком случае следует обращаться в местный суд. Помните что у вас 10 дней на подачу жалобы ( с момента получения уведомления)
							._card(data-id="faq-2")
								._title-wrap
									._title.xl-title Срок оплаты штрафов со скидкой
									._title-icon
										+icon('triangle')
								._desc.md-desc
									p Установленный срок для скидки составляет 20 дней. Но не всегда уведомление приходит вовремя. Если квитанция (уведомление) приходит позже этого срока, отчет начинает считаться с момента получения. Необходимо подать ходатайство о восстановлении срока. После этого оплатить.
							._card(data-id="faq-3")
								._title-wrap
									._title.xl-title Срок действия штрафа гибдд
									._title-icon
										+icon('triangle')
								._desc.md-desc
									p Срок когда к вам будут претензии составляет 2 года. Это время вами будут заниматься судебные приставы, и может быть введено ограничение. По истечении срока, следует написать заявление о прекращении дела. Однако если в указанный период вы будете найдены - срок начинает считаться заново.
							._card(data-id="faq-4")
								._title-wrap
									._title.xl-title Штраф оплачен, но на сайте гибдд висит
									._title-icon
										+icon('triangle')
								._desc.md-desc
									p В такой ситуации необходимо подтвердить факт оплаты штрафа. Проверьте прошел ли платеж. Если все в порядке, нужно написать заявление в местный орган ГИБДД. В заявлении указать номер постановления и прикрепить квитанцию об оплате. Подается лично или на сайте гибдд.
							._card(data-id="faq-5")
								._title-wrap
									._title.xl-title Срок действия скидки 50% на штраф
									._title-icon
										+icon('triangle')
								._desc.md-desc
									p Оплатить штраф по льготной ставке, можно только в течении 20 дней с момента получения уведомления. Если получили письмо по почте - срок начинается с даты указанной на печати почтового отделения. То что вы не забирали,не открывали письмо не подойдет в качестве аргумента для отсрочки
							._card(data-id="faq-6")
								._title-wrap
									._title.xl-title Срок действия скидки 50% на штраф
									._title-icon
										+icon('triangle')
								._desc.md-desc
									p Оплатить штраф по льготной ставке, можно только в течении 20 дней с момента получения уведомления. Если получили письмо по почте - срок начинается с даты указанной на печати почтового отделения. То что вы не забирали,не открывали письмо не подойдет в качестве аргумента для отсрочки
					
					._item(data-contentId="faq-2")
						.b-asking-content._asking-content
							._card(data-id="faq-1")
								._title-wrap
									._title.xl-title Как оспорить штраф гибдд
									._title-icon
										+icon('triangle')
								._desc.md-desc
									p Любой штраф всегда можно оспорить. Прежде всего в организации которая его выписала. Это не обязательно гаи, поэтому выясните кто оштрафовал. Далее пишется заявление в организацию. Вероятно там его признают правомерным (если это не яркая ошибка). В таком случае следует обращаться в местный суд. Помните что у вас 10 дней на подачу жалобы ( с момента получения уведомления)
							._card(data-id="faq-2")
								._title-wrap
									._title.xl-title Срок оплаты штрафов со скидкой
									._title-icon
										+icon('triangle')
								._desc.md-desc
									p Установленный срок для скидки составляет 20 дней. Но не всегда уведомление приходит вовремя. Если квитанция (уведомление) приходит позже этого срока, отчет начинает считаться с момента получения. Необходимо подать ходатайство о восстановлении срока. После этого оплатить.
							._card(data-id="faq-3")
								._title-wrap
									._title.xl-title Срок действия штрафа гибдд
									._title-icon
										+icon('triangle')
								._desc.md-desc
									p Срок когда к вам будут претензии составляет 2 года. Это время вами будут заниматься судебные приставы, и может быть введено ограничение. По истечении срока, следует написать заявление о прекращении дела. Однако если в указанный период вы будете найдены - срок начинает считаться заново.
							._card(data-id="faq-4")
								._title-wrap
									._title.xl-title Штраф оплачен, но на сайте гибдд висит
									._title-icon
										+icon('triangle')
								._desc.md-desc
									p В такой ситуации необходимо подтвердить факт оплаты штрафа. Проверьте прошел ли платеж. Если все в порядке, нужно написать заявление в местный орган ГИБДД. В заявлении указать номер постановления и прикрепить квитанцию об оплате. Подается лично или на сайте гибдд.
							._card(data-id="faq-5")
								._title-wrap
									._title.xl-title Срок действия скидки 50% на штраф
									._title-icon
										+icon('triangle')
								._desc.md-desc
									p Оплатить штраф по льготной ставке, можно только в течении 20 дней с момента получения уведомления. Если получили письмо по почте - срок начинается с даты указанной на печати почтового отделения. То что вы не забирали,не открывали письмо не подойдет в качестве аргумента для отсрочки
							._card(data-id="faq-6")
								._title-wrap
									._title.xl-title Срок действия скидки 50% на штраф
									._title-icon
										+icon('triangle')
								._desc.md-desc
									p Оплатить штраф по льготной ставке, можно только в течении 20 дней с момента получения уведомления. Если получили письмо по почте - срок начинается с даты указанной на печати почтового отделения. То что вы не забирали,не открывали письмо не подойдет в качестве аргумента для отсрочки
					
					._item(data-contentId="faq-3")
						.b-asking-content._asking-content
							._card(data-id="faq-1")
								._title-wrap
									._title.xl-title Как оспорить штраф гибдд
									._title-icon
										+icon('triangle')
								._desc.md-desc
									p Любой штраф всегда можно оспорить. Прежде всего в организации которая его выписала. Это не обязательно гаи, поэтому выясните кто оштрафовал. Далее пишется заявление в организацию. Вероятно там его признают правомерным (если это не яркая ошибка). В таком случае следует обращаться в местный суд. Помните что у вас 10 дней на подачу жалобы ( с момента получения уведомления)
							._card(data-id="faq-2")
								._title-wrap
									._title.xl-title Срок оплаты штрафов со скидкой
									._title-icon
										+icon('triangle')
								._desc.md-desc
									p Установленный срок для скидки составляет 20 дней. Но не всегда уведомление приходит вовремя. Если квитанция (уведомление) приходит позже этого срока, отчет начинает считаться с момента получения. Необходимо подать ходатайство о восстановлении срока. После этого оплатить.
							._card(data-id="faq-3")
								._title-wrap
									._title.xl-title Срок действия штрафа гибдд
									._title-icon
										+icon('triangle')
								._desc.md-desc
									p Срок когда к вам будут претензии составляет 2 года. Это время вами будут заниматься судебные приставы, и может быть введено ограничение. По истечении срока, следует написать заявление о прекращении дела. Однако если в указанный период вы будете найдены - срок начинает считаться заново.
							._card(data-id="faq-4")
								._title-wrap
									._title.xl-title Штраф оплачен, но на сайте гибдд висит
									._title-icon
										+icon('triangle')
								._desc.md-desc
									p В такой ситуации необходимо подтвердить факт оплаты штрафа. Проверьте прошел ли платеж. Если все в порядке, нужно написать заявление в местный орган ГИБДД. В заявлении указать номер постановления и прикрепить квитанцию об оплате. Подается лично или на сайте гибдд.
							._card(data-id="faq-5")
								._title-wrap
									._title.xl-title Срок действия скидки 50% на штраф
									._title-icon
										+icon('triangle')
								._desc.md-desc
									p Оплатить штраф по льготной ставке, можно только в течении 20 дней с момента получения уведомления. Если получили письмо по почте - срок начинается с даты указанной на печати почтового отделения. То что вы не забирали,не открывали письмо не подойдет в качестве аргумента для отсрочки
							._card(data-id="faq-6")
								._title-wrap
									._title.xl-title Срок действия скидки 50% на штраф
									._title-icon
										+icon('triangle')
								._desc.md-desc
									p Оплатить штраф по льготной ставке, можно только в течении 20 дней с момента получения уведомления. Если получили письмо по почте - срок начинается с даты указанной на печати почтового отделения. То что вы не забирали,не открывали письмо не подойдет в качестве аргумента для отсрочки