section.b-asking
	._container.container
		h2._title Вопрос - ответ
		._row
			._col.-left
				nav.b-asking-nav
					ul._list
						li._item
							a._link(href="#challenge") Как оспорить штраф гибдд
						li._item
							a._link(href="#due-date") Срок оплаты штрафов со скидкой
						li._item
							a._link(href="#validity") Срок действия штрафа гибдд
						li._item
							a._link(href="#awaiting") Штраф оплачен, но на сайте гибдд висит
						li._item
							a._link(href="#validity-discount") Срок действия скидки 50% на штраф
			._col.-right
				.b-asking-content.-main
					._card(data-id="challenge")
						._title-wrap
							._title.xl-title Как оспорить штраф гибдд
							._title-icon
								+icon('triangle')
						._desc.desc
							p Любой штраф всегда можно оспорить. Прежде всего в организации которая его выписала. Это не обязательно гаи, поэтому выясните кто оштрафовал. Далее пишется заявление в организацию. Вероятно там его признают правомерным (если это не яркая ошибка). В таком случае следует обращаться в местный суд. Помните что у вас 10 дней на подачу жалобы ( с момента получения уведомления)
					._card(data-id="due-date")
						._title-wrap
							._title.xl-title Срок оплаты штрафов со скидкой
							._title-icon
								+icon('triangle')
						._desc.desc
							p Установленный срок для скидки составляет 20 дней. Но не всегда уведомление приходит вовремя. Если квитанция (уведомление) приходит позже этого срока, отчет начинает считаться с момента получения. Необходимо подать ходатайство о восстановлении срока. После этого оплатить.
					._card(data-id="validity")
						._title-wrap
							._title.xl-title Срок действия штрафа гибдд
							._title-icon
								+icon('triangle')
						._desc.desc
							p Срок когда к вам будут претензии составляет 2 года. Это время вами будут заниматься судебные приставы, и может быть введено ограничение. По истечении срока, следует написать заявление о прекращении дела. Однако если в указанный период вы будете найдены - срок начинает считаться заново.
					._card(data-id="awaiting")
						._title-wrap
							._title.xl-title Штраф оплачен, но на сайте гибдд висит
							._title-icon
								+icon('triangle')
						._desc.desc
							p В такой ситуации необходимо подтвердить факт оплаты штрафа. Проверьте прошел ли платеж. Если все в порядке, нужно написать заявление в местный орган ГИБДД. В заявлении указать номер постановления и прикрепить квитанцию об оплате. Подается лично или на сайте гибдд.
					._card(data-id="validity-discount")
						._title-wrap
							._title.xl-title Срок действия скидки 50% на штраф
							._title-icon
								+icon('triangle')
						._desc.desc
							p Оплатить штраф по льготной ставке, можно только в течении 20 дней с момента получения уведомления. Если получили письмо по почте - срок начинается с даты указанной на печати почтового отделения. То что вы не забирали,не открывали письмо не подойдет в качестве аргумента для отсрочки