section.b-news
	._container.container
		._title-wrap
			h2._title Новости
			a._link.big-link(href="#") Читать все новости
		.news-row
			.news-col
				+newsItem('item1', 'Законодательство', 'Как оплатить штраф ГИБДД онлайн', 'В 2018 году, как показывает статистика, большая часть водителей оплачивает штрафы онлайн.')
			.news-col
				+newsItem('item2', 'Инструкции', 'Руководство по ОСАГО - как оформить, стоимость, условия страхования.', 'Если вы получили водительские права...')
			.news-col
				+newsItem('item3', 'Норма. документы', 'Замена иностранных прав <br>на российские, пересдача экзаменов.', 'Управлять автомобилем на территории России по иностранным правам можно...')
			.news-col
				+newsItem('item4', 'Законодательство', 'Нечитаемые номера - штраф или лишение прав', 'Грязные номера – распространенная проблема на российских дорогах.')
			.news-col
				+newsItem('item5', 'Инструкции', 'Как проверить штрафы ГИБДД по ИНН организации', 'Просроченные штрафы - это не только дополнительные расходы средств...')
			.news-col
				+newsItem('item6', 'Норма. документы', 'Какие документы о ДТП оформляет инспектор ДПС', 'Инспектор ДПС  как правило оформляет следующие документы на месте ДТП.')
