section.b-politics-page
	.container._container
		nav.b-bread-crumbs
			ul._list
				li._item
					a._link(href="/") Главная
					+icon('bread-crumbs-arrow')
				li._item
					a._link(href="#") Политика обработки персональных данных
	.container
		._wrap
			h1._main-title.section-title Политика обработки персональных данных
			._list-wrap
				._item
					h2._title.xl-title 1. Политика
					._desc
						p Ознакомление с Политикой равнозначно полному принятию ее положений. Пользование Сайтом и/или Мобильным приложением или использование интернет сервиса расположенного по адресу https://gibdd.com  (далее – Оператор) означает безоговорочное согласие с настоящей Политикой указанными в ней условиями обработки персональных данных;
						p в случае несогласия с этими условиями, субъекты персональных данных (Пользователи) должны воздержаться от использования Сайта, Мобильного приложения и их Сервисов.
						p В политике используются термины и определения в соответствии с их значениями, как они определены в Федеральном законе Российской Федерации № 152-ФЗ «О персональных данных» от 27.07.2006 г.
				._item
					h2._title.xl-title 2. Цели обработки персональных данных:
					ul.b-number-list
						li._item 1. Оказание услуг Пользователям посредствам Интернет-сайта: https://gibdd.com, (далее – Интернет-сервисы), в том числе для создания учетных записей, предоставления эффективной клиентской и технической поддержки;
						li._item 2. Продвижение услуг Оператора и/или продвижение товаров (работ, услуг, результатов интеллектуальной деятельности) иных лиц, в том числе путем осуществления прямых контактов с Пользователями с помощью различных средств связи (по телефону, электронной почте и т.д.);
						li._item 3. Проведение опросов, в том числе путем осуществления прямых контактов с субъектом персональных данных;
						li._item 4. В иных целях, если такие действия Оператора не противоречат действующему законодательству.
				._item
					h2._title.xl-title 3. Перечень, обрабатываемых персональных данных:
					ul.b-number-list.-small
						li._item 1. Фамилия, имя, отчество;
						li._item 2. Номер контактного телефона;
						li._item 3. Адрес электронной почты;
						li._item 4. ИНН;
						li._item 5. Номер водительского удостоверения;
						li._item 6. Номер свидетельства о регистрации транспортного средства;
						li._item 7. Государственный номер транспортного средства.
					ul.b-number-list
						li._item 8.
							b Оператором осуществляется обработка автоматически передаваемых (обезличенных) данных 
							| при посещении Интернет-сервисов, в том числе: технических характеристик устройства, IPадреса, информации об используемом браузере и языке, даты и времени доступа к сайту, адресов запрашиваемых страниц сайта и иной подобной информации.
						li._item 9. Оператор может использовать файлы «cookie» и иные автоматизированные и неавтоматизированные способы обработки пользовательских данных (сведения о действиях, которые совершаются пользователем на сайте, сведения об используемых для этого устройствах, дата и время сессии), а также Оператор может передавать их третьим лицам для проведения исследований, выполнения работ или оказания услуг.
						li._item 10. Отключение «cookies» может повлечь невозможность доступа к частям Интернет-сервисов, требующих авторизации.
						li._item 11. Файлы «cookie» используются с целью выявления и решения технических проблем (ошибок Интернет-сервисов); обеспечения функционирования, повышения производительности и улучшения качества Интернет-сервисов; усовершенствования продуктов и (или) услуг и для разработки новых продуктов и (или) сервисов; ведения аналитики.
						li._item 12. Способы обработки персональных данных - с использованием и без использования средств автоматизации.
						li._item 13. Согласие Пользователя на обработку персональных данных выражается в форме совершения действий - проставление отметки в соответствующем окне интерфейса Интернет-сервиса.
				._item
					h2._title.xl-title 4. Меры по обеспечению безопасности персональных данных:
					ul.b-number-list
						li._item 1. Обеспечение конфиденциальности персональных данных, не являющихся общедоступными;
						li._item 2. Назначение сотрудника, ответственного за организацию обработки и обеспечение безопасности персональных данных – Куратор обработки персональных данных (далее - Куратор ОПД);
						li._item 3. Проверка наличия в договорах и включение при необходимости в договоры пунктов об обеспечении конфиденциальности персональных данных;
						li._item 4. Издание локальных актов по вопросам обработки персональных данных, ознакомление с ними сотрудников Оператора; • обеспечение физической безопасности помещений и средств обработки;
						li._item 5. Ограничение и разграничение доступа сотрудников и иных лиц к персональным данным и средствам обработки, мониторинг действий с персональными данными;
						li._item 6. Определение угроз безопасности персональных данных при их обработке, формирование на их основе моделей угроз;
						li._item 7. Применение средств обеспечения безопасности (антивирусных средств, межсетевых экранов, средств защиты от несанкционированного доступа, средств криптографической защиты информации), в том числе прошедших процедуру оценки соответствия в установленном порядке;
						li._item 8. Учёт и хранение носителей информации, исключающее их хищение, подмену, несанкционированное копирование и уничтожение;
						li._item 9. Резервное копирование информации для возможности восстановления;
						li._item 10. Осуществление внутреннего контроля за соблюдением установленного порядка, проверка эффективности принятых мер, реагирование на инциденты.
				._item
					h2._title.xl-title 5. Пользователь имеет право:
					ul.b-number-list
						li._item 1.Отозвать согласие на обработку персональных данных, направив соответствующий запрос Оператору по электронной почте: 
							a(href="mailto:info@gibdd.com") info@gibdd.com 
							| или обратившись лично;
						li._item 2. На получение информации, касающейся обработки его персональных данных;
						li._item 3. Требовать от Оператора уточнения его персональных данных, их блокирования или уничтожения в случае, если персональные данные являются неполными, устаревшими, неточными, незаконно полученными или не являются необходимыми для заявленной цели обработки, а также принимать предусмотренные законом меры по защите своих прав;
						li._item 4. Обжаловать действия или бездействие Оператора в уполномоченный орган по защите прав субъектов персональных данных (Федеральная служба по надзору в сфере связи, информационных технологий и массовых коммуникаций - Роскомнадзор) или в судебном порядке;
						li._item 5. На защиту своих прав и законных интересов, в том числе на возмещение убытков и (или) компенсацию морального вреда в судебном порядке.
				._item
					h2._title.xl-title 6. Порядок уничтожения персональных данных:
					ul.b-number-list._number-list
						li._item 1. Обрабатываемые персональные данные подлежат уничтожению либо обезличиванию при наступлении следующих условий:
						li._item 2. Достижение целей обработки персональных данных или максимальных сроков хранения - в течение 30 дней;
						li._item 3. Утрата необходимости в достижении целей обработки персональных данных - в течение 30 дней;
						li._item 4. Предоставление Пользователем или его законным представителем подтверждения того, что персональные данные являются незаконно полученными или не являются необходимыми для заявленной цели обработки - в течение 7 дней;
						li._item 5. Невозможность обеспечения правомерности обработки персональных данных - в течение 10 дней;
						li._item 6. Отзыв Пользователем согласия на обработку персональных данных, если сохранение персональных данных более не требуется для целей обработки персональных данных - в течение 30 дней;
						li._item 7. Отзыв Пользователем согласия на использование персональных данных для контактов с потенциальными потребителями при продвижении товаров и услуг - в течение 2 дней;
						li._item 8. Истечение сроков исковой давности для правоотношений, в рамках которых осуществляется либо осуществлялась обработка персональных данных;
						li._item 9. Ликвидация (реорганизация) Оператора.<br>Носители, содержащие персональные данные, уничтожаются на основании Приказа руководителя Оператора Куратором ОПД. <br>Уничтожение персональных данных, если это допускается материальным носителем, может производиться способом, исключающим дальнейшую обработку этих персональных данных с сохранением возможности обработки иных данных, зафиксированных на материальном носителе (удаление, вымарывание).
					.b-unlist.-small
						._title Уничтожение носителей, содержащих персональные данные, осуществляется в следующем порядке:
						ul._container
							li._item уничтожение персональных данных, содержащихся на бумажных носителях, осуществляется путем сжигания или измельчения на мелкие части, исключающие возможность последующего восстановления информации. Измельчение осуществляется с использованием шредера (уничтожителя документов), установленного в архиве;
							li._item уничтожение персональных данных, содержащихся на машиночитаемых носителях, осуществляется путем нанесения им неустранимого физического повреждения, исключающего возможность их использования, а также восстановления данных. Вышеуказанное достигается путем деформирования, нарушения единой целостности носителя или его сжигания;
							li._item подлежащие уничтожению файлы с персональными данными клиентов, расположенные на жестком диске, удаляются средствами операционной системы компьютера с последующим «очищением корзины»;
							li._item в случае допустимости повторного использования носителя FDD, CD-RW, DVD-RW применяется программное удаление («затирание») содержимого диска путем его форматирования с последующей записью новой информации на данный носитель.
				._item
					h2._title.xl-title 7. Заключительные положения:
					._desc.-padding
						p Оператор может осуществлять обработку персональных данных самостоятельно, а также с привлечением третьих лиц, которые привлекаются Оператором и осуществляют обработку для выполнения целей Политики. Пользователь соглашается с тем, что Оператор вправе передавать персональные данные третьим лицам, хостинг-провайдерам, телекоммуникационным компаниям и прочим третьим лицам исключительно для целей, указанных в Политике.
						p Политика распространяется на персональные данные, полученные как до, так и после вступления в силу настоящей Политики. <br>Оператор, его должностные лица и сотрудники несут гражданско-правовую, административную и иную ответственность за несоблюдение принципов и условий обработки персональных данных Пользователей, а также за разглашение или незаконное использование персональных данных в соответствии с законодательством Российской Федерации.
						p Политика подлежит пересмотру и, при необходимости, актуализации в случае изменений в законодательстве Российской Федерации о персональных данных. Новая редакция Политики вступает в силу с момента ее обнародования (публикации), если иное не предусмотрено новой редакцией.
						p Настоящая политика находится в постоянном открытом доступе на веб-сайте Оператора по следующей ссылке: 
							a(href="https://gibdd.com/politika-obrabotki-personalnyh-dannyh") https://gibdd.com/politika-obrabotki-personalnyh-dannyh
						p Все предложения или вопросы по поводу настоящей политики Пользователь вправе направлять в службу поддержки Пользователя Оператора путём отправки электронного сообщения на адрес электронной почты: 
							a(href="mailto:info@gibdd.com") info@gibdd.com